- if @dream_submission.errors.any?
  #error_explanation
    %h2= #{pluralize(@dream_submission.errors.count), "error"} prohibited this dream from being submitted:
    %ul
      - @dream_submission.errors.full_messages.each do |msg|
        %li= msg
= semantic_form_for @dream_submission do |f|
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :city
    = f.input :state,   :as => :select, :collection => state_codes
    = f.input :country, :as => :select, :collection => country_names
    = f.input :dream, :input_html => { :rows => 5, :maxlength => 140, :class => 'autogrow'}
    = f.input :age
  = f.buttons
