%h1 Listing dream_submissions

%table
  %tr
    %th First name
    %th Last name
    %th City
    %th State
    %th Country
    %th Dream
    %th Age
    %th Email
    %th
    %th
    %th

  - @dream_submissions.each do |dream_submission|
    %tr
      %td= dream_submission.first_name
      %td= dream_submission.last_name
      %td= dream_submission.city
      %td= dream_submission.state
      %td= dream_submission.country
      %td= dream_submission.dream
      %td= dream_submission.age
      %td= dream_submission.email
      %td= link_to 'Show', dream_submission
      %td= link_to 'Edit', edit_dream_submission_path(dream_submission)
      %td= link_to 'Destroy', dream_submission, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Dream submission', new_dream_submission_path
